<div class='container mx-auto p-4'>
  <h1 class='text-3xl font-bold'>Elevate Everyone: Transforming Feedback into
    Performance.</h1>
  <div>
    <div class='performance-container'>
      <div class='performance-category' id='top-revenue'>
        <div class='performance-title'>Top Performer
          <br />
          Revenue Generated</div>
        <div
          class='performance-employee-name'
          id='revenue-name'
        >{{topRevenueEmployee.first_name}}
          {{topRevenueEmployee.last_name}}</div>
      </div>
      <div class='performance-category' id='top-work-quality'>
        <div class='performance-title'>Top Performer <br /> Work Quality</div>
        <div
          class='performance-employee-name'
          id='work-quality-name'
        >{{topWorkQualityEmployee.first_name}}
          {{topWorkQualityEmployee.last_name}}</div>
      </div>
      <div class='performance-category' id='top-new-existing-business'>
        <div class='performance-title'>Top Performer
          <br />
          New or Existing Business</div>
        <div
          class='performance-employee-name'
          id='new-existing-business-name'
        >{{topNewExistingBusinessEmployee.first_name}}
          {{topNewExistingBusinessEmployee.last_name}}</div>
      </div>
    </div>
  </div>
</div>